{% extends 'admin/form.html.twig' %}


{% block form %}
	{{ form_start(addAdminForm) }}
	{{ form_row(addAdminForm.prenom) }}
	{{ form_row(addAdminForm.nom) }}
	{{ form_row(addAdminForm.email) }}
	{{ form_row(addAdminForm.plainPassword) }}

	<button type="submit" class="btn">Ajouter</button>
	{{ form_end(addAdminForm) }}
{% endblock %}
