{% extends 'homepage/index.html.twig' %}

{% block hompagebody %}
	<div class="container text-center">
		<div class="card mb-3">
			<div class="row g-0">
				<div class="col-md-4 bg-secondary-subtle d-inline-flex justify-content-center">
					<img src="{{image_if("/image/#{bien.reference}.jpg")}}" class="img-fluid rounded" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{bien.intitule}}</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{bien.type}}</li>
							<li class="list-group-item">Catégorie :
								{{bien.categorie.libelle}}</li>
							<li class="list-group-item">Localisation :
								{{bien.localisation}}</li>
							<li class="list-group-item">Surface :
								{{bien.surface}}
								ha</li>
							<li class="list-group-item">
								{% if bien.prix < 0 %}
									Prix indisponible pour le moment
								{% else %}
									Prix :
									{{bien.prix}}€
								{% endif %}
							</li>
							<li class="list-group-item">
								<p class="font-weight-bold">
									Description :
								</p>
								<p>{{bien.descriptif}}</p>
							</li>
						</ul>
						{{ form_start(formFavoriser) }}
						{% if favoris %}
							<button type="submit" class="btn btn-danger">Retirer des favoris</button>
						{% else %}
							<button type="submit" class="btn btn-warning">Ajouter aux favoris</button>
						{% endif %}
						{{ form_end(formFavoriser) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
