{% extends 'base.html.twig' %}

{% block title %}Biens index{% endblock %}

{% block body %}
    <h1>Biens index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Surface</th>
                <th>Type</th>
                <th>Localisation</th>
                <th>Intitule</th>
                <th>Descriptif</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.prix }}</td>
                <td>{{ bien.surface }}</td>
                <td>{{ bien.type }}</td>
                <td>{{ bien.localisation }}</td>
                <td>{{ bien.intitule }}</td>
                <td>{{ bien.descriptif }}</td>
                <td>{{ bien.reference }}</td>
                <td>
                    <a href="{{ path('app_biens_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('app_biens_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_biens_new') }}">Ajouter un bien !</a>
{% endblock %}
