<style>
	.vcenter {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
<div class="card mb-3">
	<div class="row g-0">
		<div class="col-md-4 bg-secondary-subtle vcenter">
		
				{% if not isMail %}
					{% if isLinkImage %}
						<a href="{{path('app_view_bien', {id: bien.id})}}" class="">
							<img src="{{image_if("/image/#{bien.reference}.jpg")}}" class="img-fluid rounded" alt="...">
						</a>
					{% else %}
						<img src="{{image_if("/image/#{bien.reference}.jpg")}}" class="img-fluid rounded" alt="...">
					{% endif %}
				{% else %}
						<img src="{{ email.image("@public#{image_if("/image/#{bien.reference}.jpg")}")}}" class="img-fluid rounded" alt="...">
				{% endif %}
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{bien.intitule}}</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">{{bien.type}}</li>
					<li class="list-group-item">Catégorie :
						{{bien.categorie.libelle}}</li>
					<li class="list-group-item">Localisation :
						{{bien.localisation}}</li>
					<li class="list-group-item">Surface :
						{{bien.surface}}
						ha</li>
					<li class="list-group-item">
						{% if bien.prix < 0 %}
							Prix indisponible pour le moment
						{% else %}
							Prix :
							{{bien.prix}}€
						{% endif %}
					</li>
					<li class="list-group-item">
						<p class="font-weight-bold">
							Description :
						</p>
						<p>{{bien.descriptif}}</p>
					</li>
				</ul>
				{% if isLinkImage %}
					{% if isMail %}
						<a href="{{ url('app_view_bien', {id: bien.id}) }}" class="btn btn-primary">Voir le bien</a>
					{% else %}
						<a href="{{ path('app_view_bien', {id: bien.id}) }}" class="btn btn-primary">Voir le bien</a>
					{% endif %}
				{% endif %}
				{% if show_favoris %}

					{% if is_favoris %}
						<a href="{{delete_url}}" role="button" class="btn btn-danger">Retirer des favoris</a>
					{% else %}
						<a href="{{add_url}}" role="button" class="btn btn-warning">Ajouter aux favoris</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
